.scheduler-single-unit-container {
  padding: 5px;
  .scheduler-unit {
    font-size: 12px;
    background-color: #0a0e29;
    border: #0a0e29;
    padding: 10px;
    width: 100px;
    height: 40px;
    max-height: 20px;
    text-overflow: ellipsis;
    text-align: center;
    text-justify: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    -webkit-box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
  }
  .scheduler-unit-compact {
    height: 0px !important;
  }
  .scheduler-unit-selectable {
    cursor: pointer;
  }
}
