.time-grid-container {
  display: flex;
  overflow-y: auto;

  .calendar-tool-event-container {
    position: relative;
    border: #f6f6f6 2px solid;
    padding: 5px;
    &:focus {
      outline: whitesmoke auto 1px !important;
    }
    border-top: none;
  }
  .calendar-time-container {
    border-top: none !important;
    padding: 4px 0px;
    position: sticky;
    left: 0;
    top: 0;
    background: white;
    border-right: #f6f6f6 2px solid;
    z-index: 999999;
    border: #f6f6f6 2px solid;
  }
}
