
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.calendar-toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  .date-formate-header {
    color: #b48608;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: center;
  }

  .customized-label{
    font-size: small;
    text-align: center;
  }
  .calender-toolbar-button {
    color: white;
    width: 100px;
    border-radius: 4px;
    margin: 1px;
    padding: 10px 5px;
    background-color: #870e38;
    border: 1px solid #4d1419;
    box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
    &:active {
      background-color: #4d1419;
    }
    &:hover {
      background-color: #4d1419;
    }
  }
}
