@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.scheduler-single-unit-container {
  padding: 5px;
}
.scheduler-single-unit-container .scheduler-unit {
  font-size: 12px;
  background-color: #0a0e29;
  border: #0a0e29;
  padding: 10px;
  width: 100px;
  height: 40px;
  max-height: 20px;
  text-overflow: ellipsis;
  text-align: center;
  text-justify: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  -webkit-box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
}
.scheduler-single-unit-container .scheduler-unit-compact {
  height: 0px !important;
}
.scheduler-single-unit-container .scheduler-unit-selectable {
  cursor: pointer;
}

.calendar-toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}
.calendar-toolbar-container .date-formate-header {
  color: #b48608;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}
.calendar-toolbar-container .customized-label {
  font-size: small;
  text-align: center;
}
.calendar-toolbar-container .calender-toolbar-button {
  color: white;
  width: 100px;
  border-radius: 4px;
  margin: 1px;
  padding: 10px 5px;
  background-color: #870e38;
  border: 1px solid #4d1419;
  box-shadow: 10px 11px 18px -10px rgba(0, 0, 0, 0.75);
}
.calendar-toolbar-container .calender-toolbar-button:active {
  background-color: #4d1419;
}
.calendar-toolbar-container .calender-toolbar-button:hover {
  background-color: #4d1419;
}

.event-unit-box:focus {
  outline: #b4b0b0 auto 1px !important;
}

.time-grid-container {
  display: flex;
  overflow-y: auto;
}
.time-grid-container .calendar-tool-event-container {
  position: relative;
  border: #f6f6f6 2px solid;
  padding: 5px;
  border-top: none;
}
.time-grid-container .calendar-tool-event-container:focus {
  outline: whitesmoke auto 1px !important;
}
.time-grid-container .calendar-time-container {
  border-top: none !important;
  padding: 4px 0px;
  position: sticky;
  left: 0;
  top: 0;
  background: white;
  border-right: #f6f6f6 2px solid;
  z-index: 999999;
  border: #f6f6f6 2px solid;
}

/*# sourceMappingURL=index.css.map */
